@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    background: pink;
    font-family: hubballi, sans-serif;
    font-size: 3rem;
}