@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    user-select: none;
}

html {
    background: rgb(250, 217, 223);
}

#heading {
    color: #165153;
    text-align: center;
    font-size: 3rem;
    margin-top: 0px;
    letter-spacing: 3px;
    word-spacing: 7px;
}

#music-control {
    text-align: right;
    padding-right: 2em;
}

